
 background-color: rgb(212, 202, 202);
    box-sizing: content-box;
    position: static;
   
   
}

.main{
    display:block;
    background-color: whitesmoke; 
    text-align: center; 
    margin:300px;
    position: static;
    
}
p{
    color: gray;
    text-align: center;

}  
    

.link{
    background-color:whitesmoke;
    display: block;
    margin: 300px;
    position: static;
    box-sizing: border-box;
    
    

}
.section{
    background-color: rgb(235, 230, 224);
    display:block;
    margin: 300px;
    flex: wrap;
    
    

}
h2{
    text-align: center;
}
h1{
    color: rgb(187, 27, 27);
}
